@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.display-1 {
  font-family: "Ginto Nord", "Whitney", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
}

.display-2 {
  font-family: "Ginto Normal", "Whitney", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
}

.header-two {
  font-family: Ginto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.header-five {
  font-family: Ginto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  color: #ffffff;
}
